body {

background-image: url('covid.png');
background-repeat: no-repeat;
background-size: 100% 100%;
padding: 25px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
}
.main {
   display:flex;
   text-align: center;
}
form{
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0;
}
input {
    width: 15%;
  }

  h4,h1 {
    color: white;
  }
  #wrapper {
    background-color: darkblue;
    margin: auto;
    width: 40%;
    border: 3px solid #73AD21;
    padding: 10px;

  }